:root {
  --main-color: #1b8057;
  --sec-color: #f8c519;
  --childmain-color: #30a274;
  --section-color: #f4f4f4;
  --list-color: #e9e9e9;
  --t-margin: 100px;
}
.profile {
  margin-top: var(--t-margin);
  margin-bottom: var(--t-margin);
}
.profile input {
  width: 60%;
}