:root {
  --main-color: #1b8057;
  --sec-color: #f8c519;
  --childmain-color: #30a274;
  --section-color: #f4f4f4;
  --list-color: #e9e9e9;
  --t-margin: 100px;
}
.profile {
  margin-top: var(--t-margin);
  margin-bottom: var(--t-margin);
}
.profile .image i {
  background-color: var(--main-color);
  bottom: 15%;
  left: 35%;
  border: 5px solid #ffffff;
}
.profile input {
  width: 80%;
}
.pro {
  width: 75%;
}
.profile .btn {
  background-color: var(--main-color);
}
.profile .update {
  /* width: 60%; */
}
